<suite name="Suite1" verbose="2">
    <paramter name="env" value="SIT"/>
    <test name="Automation Test">
        <paramter name="env" value="SIT"/>
        <classes>
            <class name="io.vinam.AutomationCreation"/>
<!--            <class name="io.vinam.LoginTest"/>-->
        </classes>
    </test>
</suite>
